<h1>タスク一覧</h1>

<ul>
    <% unless @tasks.nil? %>
      <% @tasks.each do |task| %>
        <li><%= link_to task.id, task %> : <%= task.status %> : <%= task.content %></li>
      <% end %>
    <% end %>
  
</ul>



<%= link_to "タスクの作成", new_task_path %>